* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}
@font-face {
	font-family: "Hot Pizza";
	src: url("../hotpizza.ttf");
}
body {
	padding: 20px;
	font-family: arial, sans-serif;
	overflow: hidden;
	background: #920000;
	background: url("../Images/flag.gif");
	background-size: 100%;
}


#burger {
	width: 400px;
	height: 400px;
	background-image: url("../Images/burger.png");
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	left: 55%;
	top: 150px;
	transition: all 0.3s, transform 0s;
	cursor: pointer;
	display: block;
}
#burger:active {
	transform: scale(0.9);
}

#bpc, #bps {
	color: white;
	text-shadow: 1px 1px 0 #853, -1px -1px 0 #853;
}

@media screen and (max-width: 900px){
	#store-box {
		width: 100%;
		min-width: 500px;
		height: 150px;
		max-width: none;
		background: linear-gradient(
			white 0px,
			rgb(255, 227, 178) 131px,
			#853 131px,
			#853 133px,
			#d19e7b 133px,
			rgb(255, 227, 178)
		);
	}

	#burger {
		left: calc(50% - 200px);
		top: 250px;
	}
}
